PCaddress="ntnx-pc.ivladek.com"
PCuser="admin"
PCpasswd="ivladek2022-PC"
CLUSTERname="ntnx-cluster1"
CLUSTERuuid="0005e5f5-be85-0bcf-2fcb-1070fd2c0cb0"

LDAPdomain="ivladek.com"
LDAPorg="Ivladek qPort"
LDAPcert="C=KZ, L=Almaty, O=Ivladek qPort, OU=LDAP Server, CN=ldap.ivladek.com"
pwdLDAProot="ivladek2022-ROOT"
pwdLDAPadmin="ivladek2022-ADMIN"

VMname="ldap"
VMfqdn="ldap.ivladek.com"
VMtz="Asia/Almaty"
VMcores=1
VMram=1024
VMdisk=5120
VMimage="6a7a893c-78a4-4c7f-a496-8a58bd3e03f6"
VMip="10.2.10.31"
VMnet="ntnx-core_ipam"
VMnetuuid="a994d52c-e7ec-4c11-8428-0bd722b10964"
VMuser="ldap-admin"
VMpasswd="ivladek2022-CONSOLE"
