DIRtemplate="template"
DIRoutput="output"
DIRtemp="temp"

fileLDAPinit="ldap-init.ldif"
fileLDAPtls="ldap-tls.ldif"
fileLDAProot="ldap-root"
fileLDAPanswers1="slapd-answers1"
fileLDAPanswers2="slapd-answers2"

file2b64=(
  fileLDAPinit
  fileLDAPtls
  fileLDAProot
  fileLDAPanswers1
  fileLDAPanswers2
)

userdata_vals=(
  VMfqdn
  VMtz
  VMuser
  hashVMpasswd
  LDAPcert
  LDAPadminDN
)

vmdata_vals=(
  CLUSTERname
  CLUSTERuuid
  VMname
  VMcores
  VMram
  VMdisk
  VMimage
  VMip
  VMnet
  VMnetuuid
  USERdata_b64
)